<?xml version="1.0" encoding="utf-8"?>
<module configVersion="1.2">
    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>org.openmrs.module.sihsalusepidemiologicalsurveillance</package>
    <author>SIH Salus</author>
    <description>${project.parent.description}</description>
    <activator>org.openmrs.module.sihsalusepidemiologicalsurveillance.SurveillanceActivator</activator>
    <require_version>2.4.2</require_version>
    <require_modules>
        <require_module version="2.2.0">org.openmrs.module.webservices.rest</require_module>
    </require_modules>
    <mappingFiles>
        <mappingFile>Surveillance.hbm.xml</mappingFile>
    </mappingFiles>
    <privilege>
        <name>app:home.epidemiologicalSurveillance</name>
        <description>app:home.epidemiologicalSurveillance</description>
    </privilege>
    <privilege>
        <name>Vigilancia Epidemiologica: Ver Casos</name>
        <description>Vigilancia Epidemiologica: Ver Casos</description>
    </privilege>
    <privilege>
        <name>Vigilancia Epidemiologica: Registrar Casos</name>
        <description>Vigilancia Epidemiologica: Registrar Casos</description>
    </privilege>
    <privilege>
        <name>Vigilancia Epidemiologica: Ver Indicadores</name>
        <description>Vigilancia Epidemiologica: Ver Indicadores</description>
    </privilege>
    <privilege>
        <name>Vigilancia Epidemiologica: Configurar</name>
        <description>Vigilancia Epidemiologica: Configurar</description>
    </privilege>
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <messages>
        <lang>es</lang>
        <file>messages_es.properties</file>
    </messages>
</module>
